<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Autocompletter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Autocompletter.Properties.Settings>
            <setting name="MinPrefixesNumberForConcurrentProcessing" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="MaxWordsNumberToReturn" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxWordLength" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MinSymbolCode" serializeAs="String">
                <value>97</value>
            </setting>
            <setting name="VariousSymbolsNumber" serializeAs="String">
                <value>26</value>
            </setting>
        </Autocompletter.Properties.Settings>
    </userSettings>
</configuration>